<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Application requires user’s location for better user experience.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Application requires user’s location for better user experience.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterkit-zyXm6jahqTEg4fiu4QvxVn6C8</string>
			</array>
		</dict>
	</array>
	<key>MinimumOSVersion</key>
	<string>13.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageSize</key>
			<string>{414, 896}</string>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>12.0</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-1200-Portrait-2688h</string>
		</dict>
		<dict>
			<key>UILaunchImageSize</key>
			<string>{414, 896}</string>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>12.0</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-1200-Portrait-1792h</string>
		</dict>
		<dict>
			<key>UILaunchImageSize</key>
			<string>{375, 812}</string>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>11.0</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-1100-Portrait-2436h</string>
		</dict>
		<dict>
			<key>UILaunchImageSize</key>
			<string>{414, 736}</string>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-800-Portrait-736h</string>
		</dict>
		<dict>
			<key>UILaunchImageSize</key>
			<string>{375, 667}</string>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-800-667h</string>
		</dict>
		<dict>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700</string>
		</dict>
		<dict>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700-568h</string>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string>co.alphaexploration.clubhouse</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This lets you have conversations on Clubhouse</string>
	<key>DTXcodeBuild</key>
	<string>11E503a</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This lets you select a profile photo for the app</string>
	<key>CFBundleExecutable</key>
	<string>Clubhouse</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>BuildMachineOSBuild</key>
	<string>19E266</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>twitter</string>
		<string>twitterauth</string>
	</array>
	<key>NSContactsUsageDescription</key>
	<string>This lets you see which of your friends are on Clubhouse</string>
	<key>UISupportedDevices</key>
	<array>
		<string>iPhone10,1</string>
		<string>iPhone10,4</string>
		<string>iPhone12,8</string>
		<string>iPhone8,1</string>
		<string>iPhone8,4</string>
		<string>iPhone9,1</string>
		<string>iPhone9,3</string>
		<string>iPod9,1</string>
	</array>
	<key>DTAppStoreToolsBuild</key>
	<string>11E503a</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>CFBundleName</key>
	<string>Clubhouse</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Application requires user’s location for better user experience.</string>
	<key>NSCameraUsageDescription</key>
	<string>This lets you take a profile photo for the app</string>
	<key>ITSDRMScheme</key>
	<string>v2</string>
	<key>DTPlatformBuild</key>
	<string>17E8258</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>UIAppFonts</key>
	<array>
		<string>Nunito-Black.ttf</string>
		<string>Nunito-BlackItalic.ttf</string>
		<string>Nunito-Bold.ttf</string>
		<string>Nunito-BoldItalic.ttf</string>
		<string>Nunito-ExtraBold.ttf</string>
		<string>Nunito-ExtraBoldItalic.ttf</string>
		<string>Nunito-ExtraLight.ttf</string>
		<string>Nunito-ExtraLightItalic.ttf</string>
		<string>Nunito-Italic.ttf</string>
		<string>Nunito-Light.ttf</string>
		<string>Nunito-LightItalic.ttf</string>
		<string>Nunito-Regular.ttf</string>
		<string>Nunito-SemiBold.ttf</string>
		<string>Nunito-SemiBoldItalic.ttf</string>
	</array>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>DTSDKBuild</key>
	<string>17E8258</string>
	<key>DTXcode</key>
	<string>1141</string>
	<key>DTSDKName</key>
	<string>iphoneos13.4</string>
	<key>CFBundleVersion</key>
	<string>61</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>DTPlatformVersion</key>
	<string>13.4</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon60x60</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
</dict>
</plist>